<script type="text/x-template" id="contact">
  <tr>
    <td v-show="!isEditing">{{ contact.name }}</td>
    <td v-show="!isEditing">{{ contact.phoneNumber }}{{ contact.phone_number }}</td>
    <td v-show="!isEditing">
      <button v-on:click="editContact">
        Edit
      </button>
      <button v-on:click="deleteContact(contact)">
        Delete
      </button>
    </td>
    <td v-show="isEditing">
      <input type='text' v-model="contact.name" placeholder="Name" />
    </td>
    <td v-show="isEditing">
      <input type='text' v-model="contact.phone_number" placeholder="Phone Number" />
    </td>
    <td v-show="isEditing">
      <button v-on:click="updateContact(contact)">Update</button>
      <button v-on:click="hideForm">Cancel</button>
    </td>
  </tr>
</script>
